body {
	/*background-image: url("http://www.momorialcards.com/images/light_textured_backround.jpg");*/
	background-position: fixed;
	background-size: 100% 100%;

	background-color: transparent;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


.flag-word {
  background: yellow;
}
