<h1> Welcome to all the Trolled restaurants!</h1>

  <%@restaurants.reverse_each do |restaurant| %>
  <h3><a href="/restaurants/<%=restaurant.id%>"><%=restaurant.full_name %></a>:<small> <%= restaurant.reviews.count %> troll reviews</small></h3>
  <%end%>

