<div id="container">


<h3>Top 10 Trolled Restaurants in Chicago</h3>
<ol class="restaurant-list">
  <% @restaurants.each do |restaurant| %>
  <li><a href="/restaurants/<%=restaurant.id%>"><%=restaurant.full_name %></a>: <%= restaurant.reviews.count %> troll reviews</li>
  <% end %>
</ol>

<h4 class="see-all-restaurants"><a href="/restaurants">See all restaurants</a></h4>
</div>

<br>

<a href="/reviews"><h4>See the 10 Trolliest Reviews</h4></a>